{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-2-4">
    </div>

    <div class="uk-width-medium-4-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-twitter"></i> <a target="_blank" href="http://www.twitter.com">TWITTER</a></li>
                <li><i class="uk-icon-youtube"></i> <a target="_blank" href="http://www.youtube.com">YOUTUBE</a></li>
                <li><i class="uk-icon-google"></i> <a target="_blank" href="http://www.google.com">GOOGLE</a></li>
                <li><i class="uk-icon-yelp"></i> <a target="_blank" href="http://www.yelp.com">YELP</a></li>
            </ul>
        </div>
    </div>

{% endblock %}