{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-1-4">
        <img src="https://image-1315213349.cos.ap-shanghai.myqcloud.com/Hannah_web_img/Hannah_photo.jpg">
    </div>

    <div class="uk-width-medium-1-2">
        <h3 class="uk-panel-title">龚娉婷，女，出生于2015年1月27日。</h3>
        <h3 class="uk-panel-title">农历属马，腊月初八，腊八节出生。</h3>
        <h3 class="uk-panel-title">2022年，上海实验学校东校二年级4班。</h3>
        <h3 class="uk-panel-title">喜欢跳舞，画画，玩。</h3>
        <h3 class="uk-panel-title">不喜欢学习，不爱劳动。</h3>
        <h3 class="uk-panel-title">2022年，一年级下荣获"校长表扬生奖"。</h3>
        <h3 class="uk-panel-title">2022年秋，检查出双眼近视，200度。</h3>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-twitter"></i> <a target="_blank" href="http://www.twitter.com">TWITTER</a></li>
                <li><i class="uk-icon-youtube"></i> <a target="_blank" href="http://www.youtube.com">YOUTUBE</a></li>
                <li><i class="uk-icon-google"></i> <a target="_blank" href="http://www.google.com">GOOGLE</a></li>
                <li><i class="uk-icon-yelp"></i> <a target="_blank" href="http://www.yelp.com">YELP</a></li>
            </ul>
        </div>
    </div>

{% endblock %}