{% extends '__base__.html' %}

{% block title %}朋友{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-1-4">
        <img src="https://image-1315213349.cos.ap-shanghai.myqcloud.com/Hannah_web_img/chenmingyu.JPG">
    </div>

    <div class="uk-width-medium-1-2">
        <h3 class="uk-panel-title">陈梦语：<i style="font-size:64px; color: #888;"></i></h3>
        <p> 女，出生于2014年11月28日。</p>
        <p> 农历属马，巨蟹座。</p>
        <p> 2022年，上海建平实验学校二年级5班。</p>
        <p> 喜欢学习。</p>
        <p> 不喜欢XX。</p>
        <p> 幼儿园经常和龚娉婷一起玩。</p>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-twitter"></i> <a target="_blank" href="http://www.twitter.com">TWITTER</a></li>
                <li><i class="uk-icon-youtube"></i> <a target="_blank" href="http://www.youtube.com">YOUTUBE</a></li>
                <li><i class="uk-icon-google"></i> <a target="_blank" href="http://www.google.com">GOOGLE</a></li>
                <li><i class="uk-icon-yelp"></i> <a target="_blank" href="http://www.yelp.com">YELP</a></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-medium-4-5">
        <hr class="uk-article-divider">
    </div>

    <div class="uk-width-medium-1-4">
        <img src="https://image-1315213349.cos.ap-shanghai.myqcloud.com/Hannah_web_img/liuxingtong.JPG">
    </div>

    <div class="uk-width-medium-1-2">
        <article class="uk-article">
            <h3 class="uk-panel-title">刘星彤：<i style="font-size:64px; color: #444;"></i></h3>
            <p> 女，出生于2015年4月XX日。</p>
            <p> 农历属羊。</p>
            <p> 2022年，上海实验学校东校二年级4班。</p>
            <p> 喜欢欺负人。</p>
            <p> 不喜欢学习。</p>
            <p> 经常欺负龚娉婷，还跟她打架。</p>
        </article>
    </div>

{% endblock %}